h1 {
    font-size: 5em;
}

#profile_pic {
    height: 400px;
}

.picture{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}
.small-icons{
    height:30px;
    /* display: flex;
    flex-direction: row;
    justify-content: space-around; */
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

body{
    color:rgb(63, 21, 63);
}

a{
    color: rgb(165, 42, 110);
    text-decoration: none;
}